export(standrm, standrm_binary, standrm_binomial, standrm_count, standrc_priors)
import(rstan, drc, nlme, ggplot2)

S3method(print, standrc)
S3method(fixef, standrc)
S3method(ranef, standrc)
S3method(VarCorr, standrc)
S3method(residuals, standrc)
S3method(fitted, standrc)
S3method(predict, standrc)
S3method(plot, standrc)
S3method(ED, standrc)
S3method(print, EDsamp)
