export(standrm)
import(rstan, drc, nlme)

S3method(print, standrc)
S3method(fixef, standrc)
S3method(ranef, standrc)
S3method(VarCorr, standrc)
S3method(residuals, standrc)
S3method(fitted, standrc)
S3method(predict, standrc)
S3method(ED, standrc)
S3method(print, EDsamp)
